.app-container {
  display: flex;
  align-items: center;
  margin-left: 33%;
  height: 100vh;
  position: fixed;
}

.channel-container {
  width: 33%;
}

.channel-header {
  margin-left: 15px;
}

.messages-container {
  height: 300px;
  width: 385px;
  overflow-y: auto;
  margin-left: 1px;
  background-color: rgba(0, 0, 0, 0.05);
}

.submit-btn {
  height: 55px;
}

.msg-field {
  width: 300px;
}
