.app-container {
  display: flex;
  align-items: center;
  margin-left: 33%;
  height: 100vh;
  position: fixed;
}

.channel-container {
  width: 33%;
}

.channel:hover {
  cursor: pointer;
}

.messages-container {
  height: 300px;
  overflow-y: auto;
  margin-left: 5px;
}
